<%- include('headerlink-layout.ejs') %>
<%- include('header-layout.ejs') %>

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->

	<section class="order_details section_gap">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div>
						<img src="https://cdn.dribbble.com/users/2185205/screenshots/7886140/media/90211520c82920dcaf6aea7604aeb029.gif" alt="">
					</div>
					<div>
						<h1 style="font-weight: 700;">Order Placed Successfully</h1>
						<h4>Please check your email for invoice</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->
	<%- include('footer-layout.ejs') %>