<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/user/img/fav.png">
  <title>EVO-TYM</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="/user/otp/otp.css">
</head>

<body>
  <div class="container">
    <h1 class="brand"><span>Welcome User </span> Sign-up</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>EVO-TYM</h3>
        <ul>
          <li><i class="fa fa-envelope"></i> tevotym@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <form method="POST" action="/verifyotp ">
          <p>
            <label>Enter otp</label>
            <input type="text" name="otp" required>
          </p>

          <p class="full">
            <button type="submit">Submit</button>
          </p>

        </form>
        <br>
        <form method="post" action="/resendotp">
          <p class="full">
            <button type="submit">resend otp</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>